<div class="container-fluid main-wrap">
    <div class="row">
        <div class="pt-4 px-4 footer-body bg-dark col-sm-12">
            <p style="font-size: 15px;">&copy; 2024 by Sheila Khoo of Republic Polytechnic. No sheep were harmed in the making of this site. All stories provided on this website are entirely fictitious, and any similiarity in name or event is entirely coincidental. </p>
        </div>
    </div>
</div>