<div>
    <div class="sidebar-inner p-2">
        <div>
            <a href="/newDream" target="_self" title="Post New Dream"><img src="/images/New Dream 1.png" class="img-fluid new-dream-button" alt="New Dream"></a>
        </div>
        <div>
            <a href="/FAQ" target="_self" title="FAQ"><img src="/images/FAQ Button 1.png" class="img-fluid FAQ-button" alt="FAQ"></a>
        </div>
    </div>
</div>